---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Microsoft 
IndentWidth: 4
---
Language: Cpp
AlignConsecutiveAssignments: true
ColumnLimit: 100
AlignOperands: true
SpaceBeforeCpp11BracedList: true
